[submodule "apps/notes-app/xapi-notesapp"]
	path = apps/notes-app/xapi-notesapp
	url = https://github.com/nikolinmajmari/xapi-notesapp.git
[submodule "apps/xapi-notesapp"]
	path = apps/xapi-notesapp
	url = https://github.com/nikolinmajmari/xapi-notesapp.git
[submodule "apps/xapi_example_chat_app"]
	path = apps/xapi_example_chat_app
	url = https://github.com/nikolinmajmari/xapi_example_chat_app.git
[submodule "apps/xapi_chat_app_jsx"]
	path = apps/xapi_chat_app_jsx
	url = https://github.com/nikolinmajmari/xapi_chat_app_jsx
[submodule "xapi/session"]
	path = xapi/session
	url = https://github.com/nikolinmajmari/xapi-session
[submodule "xapi/security"]
	path = xapi/security
	url = https://github.com/nikolinmajmari/xapi-security
