[submodule "apps/notes-app/xapi-notesapp"]
	path = apps/notes-app/xapi-notesapp
	url = https://github.com/nikolinmajmari/xapi-notesapp.git
[submodule "apps/xapi-notesapp"]
	path = apps/xapi-notesapp
	url = https://github.com/nikolinmajmari/xapi-notesapp.git
[submodule "apps/xapi_example_chat_app"]
	path = apps/xapi_example_chat_app
	url = https://github.com/nikolinmajmari/xapi_example_chat_app.git
